.masthead {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 25px auto;
  grid-template-areas:
    "menu-and-search . actions"
    ". technologies ."
    "date logo today";
}

.menu-and-search {
  grid-area: menu-and-search;

  display: flex;

  padding-left: 20px;
}

.actions {
  grid-area: actions;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 50px;
}

.technologies {
  grid-area: technologies;
}

.date {
  grid-area: date;
}

.logo {
  grid-area: logo;
}

.today {
  grid-area: today;
}

.menu,
.search {
  font-size: 11px;
  padding: 7px 9px;

  display: flex;
  align-items: center;

}

.menu:hover,
.search:hover {
  background-color: #f7f7f5;
}

.settings:hover {
  color: #f7f7f5;
  cursor: pointer;
}

.technos {
  font-size: 10px;
  color: darkgray;
}

.technos > span {
  margin: 5px;
}